/*Шрифты*/
@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('fonts/Gilroy-Bold.woff2') format('woff2'),
        url('fonts/Gilroy-Bold.woff') format('woff'),
        url('fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('fonts/Gilroy-Medium.woff2') format('woff2'),
        url('fonts/Gilroy-Medium.woff') format('woff'),
        url('fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
/*Шрифты*/

/*Style reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:focus {
    outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}
figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

hr {
    margin: 0;
    padding: 0;
    border: none;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
}

* {
    box-sizing:border-box;
}
/*Style reset*/

body {
    background-color: rgba(255, 255, 255, 1);
    padding: 0 15px;
}

.header_container {
    padding-top: 33px;
    display: flex;
    flex-direction: column;
    max-width: 940px;
    /* padding: 0 250px; */
    margin: 0 auto;
}

.navigation_container {
    border-bottom: 1px solid rgba(130, 130, 130, 1);
    margin-bottom: 40px;
}

.nav_list {
    display: flex;
    justify-content: space-between;  
    margin-bottom: 32px;  
}

.nav_list a {
    display: inline-block;
    text-decoration: none;
    color: rgba(130, 130, 130, 1);
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-size: 18px;
    line-height: 22.28px;
}

.nav_list a:hover {
    color: rgba(7, 7, 7, 1);
}

.current_page a {
    color: rgba(7, 7, 7, 1);
}

.nav_item {
    margin-right: 15px;
}

.nav_item:nth-last-child(1){
    margin: 0;
}

.personal_info {
    display: flex;
    flex-direction: column;
    margin-bottom: 104px;
}

.personal_info_wrapper {
    margin-bottom: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.name {
    display: flex;
    flex-direction: column;
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-size: 47.34px;
    line-height: 58.61px;
    color: #070707;
}

.profession_old {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Gilroy-Medium', Arial, sans-serif;
    font-size: 18px;
    line-height: 21.83px;
    color: #070707;
    padding-bottom: 12px;
}

.language {
    transform: rotate(-90deg);
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-size: 16px;
    line-height: 19.81px;
    color: #828282;
    position: relative;
    top: -34px;
    right: -25px;
}

.ru_lang, .eng_lang {
    text-decoration: none;
    color: #828282;
    text-transform: uppercase;
}

.current_lang{
    color: #070707;
}

/* .photo {
  position: relative;
} */

.photo img {
    width: 100%;
    height: auto;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 107px;
    background-color: rgba(246, 246, 246, 1);
    text-align: center;
}

.about_title {
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-size: 34px;
    line-height: 42px;
    color: rgba(7, 7, 7, 1);
    margin-bottom: 17px;
}

.about_text1,
.about_text2 {
    font-family: 'Gilroy-Medium', Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: rgba(7, 7, 7, 1);
    margin-bottom: 40px;
}

.about_text3 {
    font-family: 'Gilroy-Medium', Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: rgba(7, 7, 7, 1);
}

.skills {
    max-width: 940px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.skills_title {
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: rgba(7, 7, 7, 1);
    margin-bottom: 60px;
}

.skills_subtitle {
    font-family: 'Gilroy-Medium', Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: rgba(7, 7, 7, 1);
    margin-bottom: 85px;
}

.skill_logo {
    margin-bottom: 25px;
}

.skill_logo_title {
    max-width: 80px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(130, 130, 130, 1);


}

.skills_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 110px;
}

.skill_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stars svg {
    margin-right: 5px;
}

.portfolio {
    padding-top: 112px;
    width: 100%;
    background-color: rgba(246, 246, 246, 1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio_title {
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: rgba(7, 7, 7, 1);
    margin-bottom: 47px;
}

.portfolio_item_poster img {
    width: 80%;
    max-width: 940px;
    height: auto;
}

.portfolio_item_poster {
    margin-bottom: 44px;
}

.portfolio_item_link {
    display: block;
    font-family: 'Gilroy-Medium', Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    text-align: center;
    color: rgba(7, 7, 7, 1);
}

.portfolio_item_link:hover {
    color: rgba(130, 130, 130, 1);
}

.portfolio_item {
    margin-bottom: 99px;
}

.portfolio_item:nth-last-child(1) {
    margin-bottom: 96px;
}

.contacts {
    padding-top: 114px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contacts_title {
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: rgba(7, 7, 7, 1);
    margin-bottom: 20px;
}

.contacts_subtitle {
    font-family: 'Gilroy-Medium', Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: rgba(7, 7, 7, 1);
    margin-bottom: 30px;
}

.contacts_button {
    margin-bottom: 86px;
}

.contacts_button a {
    display: block;
    background-color: rgba(7, 7, 7, 1);
    padding: 0px 29px;
    padding-top: 12px;
    padding-bottom: 8px;
    border-radius: 25px;
    text-decoration: none;
    color:rgba(255, 255, 255, 1);
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 1);
    box-sizing:border-box;
}

.contacts_button:hover a {
    color:rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    box-sizing:border-box;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 343px;
    margin-bottom: 45px;
}

.social_title {
    color:rgba(130, 130, 130, 1);
    font-family: 'Gilroy-Medium', Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 123px;
}
.language_mobile {
    display: none;
}
.burger {
    display: none;
}
@media screen and (max-width:768px) {
    body {
        width: 100%;
        /* padding: 65px 30px 90px 30px; */
        background-color: rgba(255, 255, 255, 1);
        padding: 0 15px;
    }

    .language {
        display: none;
    }
    .mobile_wrapper {
        display: block;
    }
    .nav_list {
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 1000px;
        background-color: rgb(255, 255, 255);
        padding: 60px 28px 57px 26px;
        transition: 0.5s;
    }

    .nav_list_active {
        left: 0;
        transition: 0.5s;
    }
     
    .nav_list a {
        display: block;
        text-decoration: none;
        color: rgba(130, 130, 130, 1);
        font-family: 'Gilroy-Bold', Arial, sans-serif;
        font-size: 34px;
        line-height: 42px;
        max-width: 60%;
    }
    .visible_mobile {
        display: block;
    }
    .nav_item {
        margin-bottom: 40px;
    }

    .nav_item {
        position: relative;
        left: 1000px;
        transition: 0.5s;
    }

    .nav_item_active {
        left: 0;
    }

    .nav_item_active:nth-child(1) {
        transition: 0.5s;
    }
    .nav_item_active:nth-child(2) {
        transition: 0.7s;
    }
    .nav_item_active:nth-child(3) {
        transition: 0.9s;
    }
    .nav_item_active:nth-child(4) {
        transition: 1.1s;
    }
    .nav_item_active:nth-child(5) {
        transition: 1.3s;
    }

    .current_page a {
        color: #000;
    }

    .header_container {
        padding-top: 0;
    }
    .navigation_container {
        position: relative;
        border: none;
    }

    .over {
        overflow: hidden;
    }

    .burger {
        display: block;
        position: absolute;
        width: 30px;
        height: 20px;
        z-index: 2000;
        right: 30px;
        top: 68px;
    }

    .burger span {
        position: absolute;
        background-color: rgba(130, 130, 130, 1);
        left: 0;
        width: 100%;
        height: 4px;
        top: 8px;
        transform: scale(1);
        transition: 0.5s;
    }

    .burger_active span {
        transform: scale(0);
        transition: 0.2s;
    }

    .language_mobile {
        display: block;
        position: fixed;
        z-index: 2000;
        bottom: 87px;
        right: -1000px;
        transform: rotate(90deg);
        font-family: 'Gilroy-Bold', Arial, sans-serif;
        font-size: 34px;
        line-height: 42px;
        color: #828282;
        transition: 1s;
    }

    .lang_mobile_activ {
        right: -10px;
        transition: 1s;
    }

    .burger::after {
        top: 0;
        transform: rotate(0deg);
        transition: 0.5s;
    }
    .burger::before {
        bottom: 0;
        transform: rotate(0deg);
        transition: 0.5s;
    }
    .burger_active::after {
        transform: rotate(45deg);
        top: 6px;
        transition: 0.5s;
    }
    
    .burger_active::before {
        transform: rotate(-45deg);
        bottom: 10px;
        transition: 0.5s;
    }

    .burger::after,
    .burger::before {
        content:'';
        background-color:  rgba(130, 130, 130, 1);
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
    }
    .profession_old {
        color: #090909;
    }


}